<mat-progress-bar mode="indeterminate" class="progress-bar" *ngIf="loading"></mat-progress-bar>

<h1 mat-dialog-title>Edit address</h1>

<div mat-dialog-content>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Street + House Nr.</mat-label>
            <input matInput [(ngModel)]="user.street" [disabled]="loading">
        </mat-form-field>      
    </div>

    <div>
        <mat-form-field appearance="outline" class="mr-16">
            <mat-label>ZIP Code</mat-label>
            <input matInput [(ngModel)]="user.zipCode" [disabled]="loading">
        </mat-form-field>  
        
        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput [(ngModel)]="user.city" [disabled]="loading">
        </mat-form-field>      
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="save()">Save</button>
</div>