.menu-icon {
    cursor: pointer;
}

.mat-drawer-container {
    height: 100vh;
}

.sidenav {
    width: 300px;
}

mat-toolbar,
mat-toolbar-row {
    margin: 0;
    padding: 0;
    height: 56px;
    min-height: 56px;
}

.content-container{
    padding: 16px 48px;
}

.logo {
    margin: 0;
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;
    height: 56px;
    min-height: 56px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        cursor: pointer;
        height: 48px;
        display: flex;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;

        mat-icon{
            margin-right: 16px;
        }

        &:hover{
            background-color: rgba(0, 0, 0, 0.1);;
        }
    }
}