.btn-add-user {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

mat-card {
    padding-left: 0;
    padding-right: 0;
}

.user-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    

    th {
        color: rgba(0, 0, 0, 0.5);
        text-align: start;
        font-size: 14px;
        font-weight: 500;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:first-child{
            padding-left: 16px;
        }
    }

    td {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:first-child{
            padding-left: 16px;
        }
    }

    tr{
        height: 40px;
        &:first-child{
            height: unset;
        }

        &:hover{
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.05);

            &:first-child{
                cursor: unset;
                background-color: unset;
            }
        }


    }
}
