<mat-card>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
        </tr>
        <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.customIdName ]">
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.city }}</td>
        </tr>
    </table>
</mat-card>

<button mat-fab color="primary" class="btn-add-user" matTooltip="Add user" (click)="dialogAddUser()">
    <mat-icon>add</mat-icon>
</button>